body{
    background-color: white;
    font-family: Helvetica;
}
.my-grid div{
    border: 3px solid black;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.my-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    "q q"
    "a1 a2"
    "a3 a4";
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    row-gap: 5%;
    column-gap: 4%;
}
.question{
    grid-area: q;
    font-size: 4vmax;
    margin-top: 1.5%;
    padding: 3%;
    background-color: paleturquoise;
}
.answer0{
    grid-area: a1;
    font-size: 2vmax;
    background-color: lightblue;
    visibility: hidden;
}
.answer1{
    grid-area: a2;
    font-size: 2vmax;
    background-color: lightblue;
    visibility: hidden;
}
.answer2{
    grid-area: a3;
    font-size: 2vmax;
    background-color: lightblue;
    visibility: hidden;
}
.answer3{
    grid-area: a4;
    font-size: 2vmax;
    background-color: lightblue;
    visibility: hidden;
}
.refresh{
    position: absolute;
    width: 6vw;
    margin-left: 35%;
    visibility: hidden;
}